[build]
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "18"

[functions]
  node_bundler   = "esbuild"
  included_files = [
    "netlify/functions/assets/**",
    "netlify/functions/data/**"
  ]

# keep functions uncached while we iterate
[[headers]]
  for = "/.netlify/functions/*"
  [headers.values]
    Cache-Control = "no-store, no-cache, must-revalidate"

[[redirects]]
  from = "/verify"
  to = "/.netlify/functions/verify_page"
  status = 200
  force = true

[[redirects]]
  from = "/v/:id"
  to = "/.netlify/functions/verify_page?id=:id"
  status = 200
  force = true
